h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgba(4, 0, 8, 0.797);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #ff037475;
}
body {
  background-color: rgb(245, 241, 220);
}

.katboks {
  background-color: rgba(5, 139, 248, 0.292);
  margin: 10px;
  padding: 30px;
  text-align: center;
  border-radius: 30px;
  border: 5px solid rgba(3, 142, 248, 0.658);
}
.kategorigrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ptekst {
  color: grey;
}

.produktgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}
article {
  padding: 20px;
  border: solid grey;
}
.produktgrid img {
  max-width: 350px;
  height: auto;
  margin-bottom: 10px;
}
.bukser {
  opacity: 0.5;
}

.produktgrid div.smallproduct::before {
  content: "sold Out";
  position: absolute;
  background: white;
  color: black;
  padding: 1rem;
  z-index: 1;
}

article.discounted::after {
  display: flex;
  justify-content: space-between;
  content: "-35%";
  background-color: red;
  padding: 0.2rem;
}
.productlist article.soldOut::before {
  content: "Sold Out";
  position: absolute;
  background: var(--color);
  color: var(--background-color);
  padding: 1rem;
}
